.successMsg {
  //border: 2px solid blue;
  font-family: "VariableFont";
  color: $color-text-light;
  letter-spacing: 1.5px;

  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba($color-text-secondary, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    width: 100%;
    background-color: #6ab541;
    padding: 1.5rem 0;
    justify-items: center;

    img {
      height: 8rem;
    }
  }

  &__bottom {
    @include flexCenter;
    flex-direction: column;
    width: 100%;

    p {
      width: 100% !important;
      background-color: $color-bg-secondary-darker;
      font-size: 1.9rem;
      line-height: 30px;
      padding: 2rem 0;
      text-align: center;
    }

    .progress {
      width: 100%;
      height: 15px;
      position: relative;

      align-self: self-start;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background-color: #6ab541;
        animation: test 2s linear forwards;
      }
    }
  }
}

@keyframes test {
  to {
    transform: translateX(0);
  }
}
