@font-face {
  font-family: "EagleLake";
  src: url("/src/assets/fonts/EagleLake-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OriginalSurfer";
  src: url("/src/assets/fonts/OriginalSurfer-Regular.ttf");
}

@font-face {
  font-family: "VariableFont";
  src: url("/src/assets/fonts/VariableFont_wght.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $color-bg-secondary-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.active {
  color: $color-templage-1 !important;
}

::selection {
  background-color: $color-templage-1;
  color: $color-text-light;
}

::-moz-selection {
  background-color: $colr-template-3;
  color: $color-templage-1;
}

::-webkit-scrollbar {
  width: 8px;
  color: wheat !important;
  background-color: red;
}

::-webkit-scrollbar-track {
  background-color: $color-text-secondary;
}

::-webkit-scrollbar-thumb {
  background: $color-templage-1;
  border-radius: 4px;

  &:hover {
    background: $colr-template-2;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

// responsive images
img {
  max-width: 100%;
  height: auto;
  display: block;
}
