// colors
$color-bg-secondary-dark: #d1d1d1;
$color-bg-secondary-light: #cfcaca;

$color-templage-1: #151d93;

// Text colors with better contrast
$color-text-primary: #2d2d2d;
$color-text-secondary: #555555;
$color-text-light: #ffffff;
$color-text-dark: #000000;
