@keyframes fadeUp {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
