.contactPage {
  &__contents {
    position: relative;
    display: flex;
    @media (max-width: 900px) {
      margin-top: 10rem;
      align-items: center;
      flex-direction: column;
      gap: 40px 0;
    }

    &--left {
      overflow-x: hidden;
      width: 50%;
      @media (max-width: 900px) {
        width: 100%;
      }

      .textBox {
        h1 {
          font-family: "OriginalSurfer";
          font-size: 5rem;
          letter-spacing: 4px;
          opacity: 0;
          transform: translateY(-30px);
          animation: fadeUp 1.5s ease forwards;
        }

        p {
          width: 55%;
          font-family: "VariableFont";
          font-size: 1.5rem;
          letter-spacing: 1.5px;
          line-height: 20px;
          opacity: 0;
          transform: translateY(30px);
          animation: fadeUp 1s ease 0.5s forwards;

          @media (max-width: 900px) {
            width: 30%;
          }
          @media (max-width: 600px) {
            width: 50%;
          }
          @media (max-width: 600px) {
            width: 100%;
          }
        }
      }

      .form {
        @include flexCenter;
        flex-direction: column;
        margin-top: 10rem;
        gap: 15px 0;

        input,
        textarea {
          all: unset;
          width: 100%;
          background-color: transparent;
          border-bottom: 1px solid $color-text-primary;
          font-family: "VariableFont";
          letter-spacing: 1.5px;
          font-size: 1.5rem;
          padding: 1rem 0;
          opacity: 0;
          transform: translateX(100px);
          animation: fadeLeft 0.8s ease 1s forwards;

          &:nth-child(2) {
            animation-delay: 1.5s;
          }
          &:nth-child(3) {
            animation-delay: 2s;
          }

          &::placeholder {
            color: $color-text-secondary;
          }
        }

        button {
          all: unset;
          width: 100%;
          font-family: "VariableFont";
          color: $color-text-light;
          font-size: 2rem;
          letter-spacing: 2px;
          padding: 1rem 0;
          text-align: center;
          background-color: rgba($color-text-secondary, 0.9);
          cursor: pointer;
          transition: all 0.5s ease;

          opacity: 0;
          transform: translateX(-100px);
          animation: fadeLeft 1.2s ease 2.7s forwards;

          &:hover {
            background-color: rgba($color-text-secondary, 0.7);
          }
        }
      }
    }

    &--right {
      width: 50%;
      padding: 0 0 0 13rem;

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width: 900px) {
        width: 100%;
        align-self: auto;
        padding: 0;
        //gap: 60px 0;
      }
      .sendStatus {
        @media screen and (max-width: 900px) {
          width: 50%;
          position: absolute;
          top: 0;
          right: 0;
        }

        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
      .textBox {
        h2 {
          font-family: "VariableFont";
          color: $color-text-primary;
          font-size: 2rem;
          opacity: 0;
          transform: translateY(30px);
          animation: fadeUp 1s ease 3s forwards;
        }

        a {
          text-decoration: none;
          font-size: 1.6rem;
          letter-spacing: 1.5px;
          color: black;
          opacity: 0;
          transform: translateY(30px);
          animation: fadeUp 1s ease 3.3s forwards;

          &:nth-child(2) {
            animation-delay: 3.8s;
          }
          &:nth-child(4) {
            animation-delay: 4.3s;
          }
        }
      }

      .socialBox {
        display: flex;
        gap: 0 3rem;

        a {
          color: $color-text-primary;
          font-size: 2rem;
          position: relative;
          bottom: -0.9rem;
          transition: all 0.3s ease;
          //opacity: 0;
          //transform: translateY(30px);
          animation: fadeUp 1s ease 3.8s forwards;
          &:nth-child(1) {
            animation-delay: 4.3s;
          }
          &:nth-child(2) {
            animation-delay: 4.7s;
          }
          &:nth-child(3) {
            animation-delay: 5.1s;
          }
          &:hover {
            color: $color-templage-1;
            transform: scale(1.3) translateY(-3px);
          }
        }
      }
    }
  }
}
