.notFoundPage {
  &__contents {
    align-content: center;
    justify-items: center;
    aspect-ratio: 13 / 6.7;
    border-radius: 14px;
    box-shadow: 0px 3px 10px 2px rgba($color-text-secondary, 0.2);
    background: url("/src/assets/images/not-found.png") bottom/cover no-repeat;

    display: flex;
    flex-direction: column;
    @media screen and (max-width: 900px) {
      margin-top: 10rem;
    }

    @media screen and (max-width: 600px) {
      aspect-ratio: 8 / 6.7;
    }

    &--text {
      position: relative;
      aspect-ratio: 13 / 6.7;
      @media screen and (max-width: 600px) {
        aspect-ratio: 8 / 6.7;
      }

      p {
        display: flex;
        flex-direction: column;
        span {
          &:nth-child(1) {
            position: absolute;
            top: -3rem;
            left: 10rem;
            font-size: 15rem;
            font-weight: 700;
            opacity: 0.7;
            @media screen and (max-width: 900px) {
              left: 4rem;
            }

            @media screen and (max-width: 400px) {
              top: -2rem;
              left: 3rem;
              font-size: 10rem;
            }
          }
          &:nth-child(2) {
            position: absolute;
            top: 17rem;
            left: 5rem;
            font-size: 4rem;
            font-weight: 500;
            padding: 0 0 0 7rem;
            opacity: 0.6;
            font-family: "EagleLake";
            @media screen and (max-width: 900px) {
              top: 16rem;
              left: 0rem;
            }
            @media screen and (max-width: 400px) {
              font-size: 3rem;
              top: 12rem;
              left: -4rem;
            }
          }
          &:nth-child(3) {
            position: absolute;
            top: 25rem;
            left: 11rem;
            font-size: 1.8rem;
            opacity: 0.6;
            font-family: "VariableFont";
            @media screen and (max-width: 900px) {
              top: 25rem;
              left: 3rem;
            }
            @media screen and (max-width: 600px) {
              column-count: 2;
            }
            @media screen and (max-width: 400px) {
              display: none;
            }
          }
        }
      }

      a {
        position: absolute;
        bottom: 1.5rem;
        left: 45%;
        font-family: "VariableFont";
        font-size: 2.5rem;
        color: $color-text-secondary;
        padding: 0rem 5rem;
        text-decoration: none;

        border-radius: 100px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba($color-templage-1, 0.3);
        transition: all 0.4s ease;

        &:hover {
          background: rgba(102, 97, 97, 0.482);
          color: $color-text-light;
          transform: translateX(5px) translateY(-7px);
          box-shadow: 0 2px 10px rgba(184, 181, 181, 0.674);
        }

        @media screen and (max-width: 600px) {
          left: 40%;
        }
        @media screen and (max-width: 400px) {
          left: 30%;
          font-size: 1.5rem;
          padding: 0.5rem 5rem;
        }
      }
    }
  }
}
