.projectsPage {
  h1 {
    font-size: 5rem;
    font-family: "OriginalSurfer";
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 5rem;
    transform: translateY(-30px);
    opacity: 0;
    animation: fadeUp 1s ease forwards;
    @media screen and (max-width: 900px) {
      margin-top: 7rem;
    }
  }

  &__contents {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    gap: 100px 0;

    &--box {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 50px 0;
        padding: 0 10rem;
      }
      @media screen and (max-width: 600px) {
        padding: 0 1rem;
      }
      @media screen and (max-width: 420px) {
      }

      margin-top: 5rem;
      .left {
        width: 40%;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
        h2 {
          font-family: "VariableFont";
          font-size: 2.5rem;
          text-transform: capitalize;
          transform: translateY(-30px);
          opacity: 0;
        }

        p {
          font-family: "VariableFont";
          font-size: 1.5rem;
          line-height: 25px;
          letter-spacing: 1.5px;
          margin-top: 1rem;
          transform: translateY(30px);
          opacity: 0;
        }
        h4,
        li {
          transform: translateX(-30px);
          opacity: 0;
        }
        ul {
          list-style: none;
          font-size: 1.5rem;
          font-family: "VariableFont";
          color: $color-text-secondary;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 1.6rem;
          font-family: "VariableFont";
          transform: translateY(30px);
          opacity: 0;
        }
      }

      .right {
        width: 50%;
        img {
          opacity: 0;
          transform: translateX(300px);
        }
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
}

.in-view-once h2 {
  animation: fadeUp 1s ease forwards;
}

.in-view-once p {
  animation: fadeUp 1s ease forwards;
}

.in-view-once h4 {
  animation: fadeLeft 1s ease 0.9s forwards;
}
.in-view-once li {
  animation: fadeLeft 1s ease 1.5s forwards;
}
.in-view-once a {
  animation: fadeUp 1s ease 1.5s forwards;
}
.in-view-once img {
  animation: fadeLeft 1.3s ease 0.8s forwards;
}
