.projectsPage {
  h1 {
    font-size: 5rem;
    font-family: "OriginalSurfer";
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 5rem;
    @media screen and (max-width: 900px) {
      margin-top: 7rem;
    }
  }
  &__contents {
    //border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 100px 0;

    &--box {
      // background-color: lightcoral;

      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 50px 0;
        padding: 0 10rem;
      }
      @media screen and (max-width: 600px) {
        padding: 0 1rem;
      }
      @media screen and (max-width: 420px) {
        gap: 0;
      }

      margin-top: 5rem;
      .left {
        width: 40%;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
        h2 {
          font-family: "VariableFont";
          font-size: 2.5rem;
          text-transform: capitalize;
        }

        p {
          font-family: "VariableFont";
          font-size: 1.5rem;
          line-height: 25px;
          letter-spacing: 1.5px;
          margin-top: 1rem;
        }
        ul {
          list-style: none;
          font-size: 1.5rem;
          font-family: "VariableFont";
          color: $color-text-secondary;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 1.6rem;
          font-family: "VariableFont";
        }
      }

      .right {
        width: 50%;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
}
