.resumePage {
  background-color: rgb(241, 241, 221);
  &__contents {
    @media screen and (max-width: 900px) {
      padding: 15rem 0;
    }
    h2,
    h1 {
      font-family: "OriginalSurfer";
    }
    p {
      font-size: 1.5rem;
      font-family: "VariableFont";
      line-height: 24px;
      letter-spacing: 1.5px;
    }
    .title {
      text-align: center;
      font-size: 6rem;
      letter-spacing: 4px;
    }
    .experience,
    .education {
      padding: 4rem 15rem;
      @media screen and (max-width: 900px) {
        padding: 4rem 1rem;
      }
    }

    .education {
      background-color: rgb(238, 238, 160);

      @media screen and (max-width: 900px) {
        padding: 4rem 15rem;
      }
      @media screen and (max-width: 600px) {
        padding: 4rem 1rem;
      }
      .box__body {
        width: 50%;
        align-self: flex-end;
        position: relative;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
      .details {
        justify-self: end;
        position: absolute;
        left: 0;
        bottom: 2rem;
        width: 100% !important;
        img {
          perspective: 2000;
          height: 6rem;
          transform-style: preserve-3d;
        }
        h2 {
          font-size: 3rem;
          font-family: "VariableFont";
        }
      }
    }
    .achievments {
      .details {
        width: 100% !important;

        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 10px 0;
        }
        .left {
          h2 {
            font-family: "VariableFont";
          }
        }
        .right {
          width: 39%;

          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }
    .box {
      //border: 2px solid black;
      @include flexCenter;
      flex-direction: column;

      &__head {
        overflow: hidden;
        align-self: self-start;
        h1 {
          font-size: 4rem;
          font-weight: 100;
          letter-spacing: 2px;
          transform: translateX(-100px);
          opacity: 0;
        }

        h2 {
          font-weight: 100;
          font-size: 2rem;
          transform: translateX(-100px);
          opacity: 0;
          animation-delay: 0.5s;
        }
      }

      &__body {
        border-bottom: 1px solid saddlebrown;
        width: 100%;
        padding: 8rem 1rem;

        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
        p {
          margin-top: 1.5rem;
        }

        .details {
          width: 50%;
          float: right;
          h2 {
            opacity: 0;
            transform: translateY(-100px);
          }
          p {
            opacity: 0;
            transform: translateY(100px);
          }
          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.bb__transparent {
  border-bottom: transparent !important;
}

.in-view-once {
  h1,
  h2 {
    animation: fadeLeft 1s ease forwards;
  }

  p {
    animation: fadeUp 0.8s ease 0.3s forwards;
  }

  img {
    animation: flip 4s ease-in-out infinite;
  }
}
