.resumePage {
  background: rgb(241, 241, 221);

  &__contents {
    @media screen and (max-width: 900px) {
      padding: 15rem 0;
    }

    h1,
    h2 {
      font-family: "OriginalSurfer";
    }

    p {
      font: 1.5rem/24px "VariableFont";
      letter-spacing: 1.5px;
    }

    .title {
      text-align: center;
      font-size: 6rem;
      letter-spacing: 4px;
    }

    .experience,
    .education {
      padding: 4rem 15rem;

      @media screen and (max-width: 900px) {
        padding: 4rem 1rem !important;
      }
    }
    .experience {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font: 2.3rem "VariableFont";
      }
    }
    .education {
      background: rgb(238, 238, 160);
      .box__head {
        h1 {
          font-size: 3rem;
        }
        h2 {
          font: 2rem "VariableFont";
        }
      }
      .box__body {
        width: 50%;
        align-self: flex-end;
        position: relative;

        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }

      .details {
        justify-self: end;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 100% !important;

        img {
          perspective: 1000;
          height: 5rem;
          margin: 2rem 0 0;
          transform-style: preserve-3d;

          @media screen and (max-width: 432px) {
            margin: 2rem 0 1.5rem;
          }
        }

        h2 {
          font: 2rem "VariableFont";
          margin-top: 3rem;
        }
      }
    }

    .achievments {
      .details {
        width: 100% !important;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 10px 0;
        }

        .left h2 {
          font-family: "VariableFont";
        }

        .right {
          width: 39%;

          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }

    .box {
      @include flexCenter;
      flex-direction: column;

      &__head {
        overflow: hidden;
        align-self: self-start;

        h1 {
          font: 100 4rem / normal;
          letter-spacing: 2px;
          transform: translateX(-100px);
          opacity: 0;
        }

        h2 {
          font: 100 2rem / normal;
          transform: translateX(-100px);
          opacity: 0;
          animation-delay: 0.5s;
        }
      }

      &__body {
        border-bottom: 1px solid saddlebrown;
        width: 100%;
        padding: 8rem 1rem;

        @media screen and (max-width: 656px) {
          padding: 23rem 1.3rem 0;
        }

        h2 {
          font: 300 3rem / normal;

          @media screen and (max-width: 432px) {
            line-height: 4rem;
          }
        }

        p {
          margin-top: 1.5rem;
        }

        .details {
          width: 50%;
          float: right;

          h2 {
            opacity: 0;
            transform: translateY(-100px);
          }

          p {
            opacity: 0;
            transform: translateY(100px);
          }

          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.bb__transparent {
  border-bottom: transparent !important;
}

.in-view-once {
  h1,
  h2 {
    animation: fadeLeft 1s ease forwards;
  }

  p {
    animation: fadeUp 0.8s ease 0.3s forwards;
  }
}

.box__body .details img {
  animation: flip 4s ease 1s infinite;
}
