.navigation {
  //  border: 2px solid red;
  position: relative;
  @include flexCenter;
  padding: 3rem 4rem;
  justify-content: space-between;

  &__left {
    // border: 1px solid blue;
    @include flexCenter;
    gap: 0 30px;

    h2 {
      font-family: "OriginalSurfer";
      font-size: 1.8rem;
      letter-spacing: 5px;
      word-spacing: -5px;
      text-transform: uppercase;
      color: $color-text-dark;
      cursor: pointer;
    }
    p {
      font-family: "VariableFont";
      font-size: 1.3rem;
      letter-spacing: 2px;
      color: $color-text-dark;
      font-weight: 350;
      align-self: flex-end;
    }
  }

  &__right {
    //border: 2px solid green;
    @include flexCenter;
    gap: 0 30px;
    list-style: none;
    transition: all 0.3s ease;

    li {
      border-right: 1px solid $color-text-primary;
      padding: 0 15px 0 0;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
    a {
      font-family: "VariableFont";
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      color: $color-text-primary;
      transition: color 0.3s ease;

      &:hover {
        color: $color-templage-1;
      }
    }
  }

  &__toggleBtn {
    display: none;
    flex-direction: column;
    gap: 6px;
    width: 35px;
    cursor: pointer;

    span {
      background: black;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      transform-origin: center;
    }
  }
}

// Toggle Active State
.toggleBtnLine_1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}
.toggleBtnLine_2 {
  opacity: 0;
}
.toggleBtnLine_3 {
  transform: rotate(45deg) translate(-2px, -7px);
}

// RESPONSIVE CODES
@include respond(tab-port) {
  .navigation {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    width: 100%;
    padding: 2rem;
    position: fixed;
    top: 0;
    z-index: 1;

    &__left {
      gap: 5px 0;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    &__right {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: $color-bg-secondary-light;
      flex-direction: column;
      justify-content: start;
      gap: 30px 0;
      padding: 6rem 2rem 2rem;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
      z-index: 100;

      &--active {
        left: 0;
      }

      li {
        border-right: none;
        padding: 0;
        text-align: center;
      }
      a {
        font-size: 2rem;
      }
    }

    &__toggleBtn {
      display: flex;
      position: fixed;
      z-index: 101;
      right: 1rem;
    }
  }
}

@include respond(smallPhone) {
  .navigation {
    padding: 1rem;
  }
}
